#Minecraft server properties
#Mon Nov 23 20:31:00 GMT 2020
enable-jmx-monitoring=false
rcon.port={{ rcon_port }}
level-seed={{ level_seed }}
gamemode={{ gamemode }}
enable-command-block=false
enable-query=false
generator-settings=
level-name=world
motd={{ motd }}
query.port=25565
pvp={{ pvp }}
generate-structures=true
difficulty=easy
network-compression-threshold=256
max-tick-time=60000
use-native-transport=true
max-players=20
online-mode=true
enable-status=true
allow-flight=false
broadcast-rcon-to-ops=false
view-distance={{ view_distance }}
max-build-height=256
server-ip=
allow-nether=true
server-port={{ server_port }}
enable-rcon=true
sync-chunk-writes=true
op-permission-level=4
prevent-proxy-connections=false
resource-pack=
entity-broadcast-range-percentage=100
rcon.password={{ rcon_password }}
player-idle-timeout=0
debug=false
force-gamemode=false
rate-limit=0
hardcore=false
white-list={{ white_list }}
broadcast-console-to-ops=true
spawn-npcs=true
spawn-animals=true
snooper-enabled=true
function-permission-level=2
level-type=default
text-filtering-config=
spawn-monsters=true
enforce-whitelist=false
resource-pack-sha1=
spawn-protection=16
max-world-size=29999984